.widget-markdown {
  & * {
    color: var(--sb-on-content-inverse-1);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  hr {
    border-top: 1px solid var(--sb-on-bg-4);
    margin: 21px 0; // 1.5em
  }

  h1 {
    margin-top: 0;
    margin-bottom: 12.4px; // 0.8888889em
    padding: 0;
    font-size: 22.4px; // 1.6em
    line-height: 27.6px;
    font-weight: 700;
    letter-spacing: -0.6px; // -0.04rem
  }

  h2 {
    font-weight: 600;
    margin: 24px 0 12px; // 1.5rem 0 0.75rem
    font-size: 18.2px; // 1.3em
    line-height: 22.3px; // 1.3333333em
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin: 16px 0 8px; // 1rem 0 0.5rem
    font-size: 15.4px; // 1.1em
    line-height: 22.4px; // 1.6em
  }

  p {
    font-size: 14px; // 1em
    line-height: 20px; // 1.43em
    margin-bottom: 8px; // 0.5rem
    margin-top: 0;

    &:not(:first-child) {
      margin-top: 8px; // 0.5rem
    }
  }

  a {
    color: var(--sb-on-bg-1);
    font-weight: 700;
  }

  code {
    white-space: pre-wrap;
    border-radius: 0.25rem;
    font-size: 0.875em;
    font-weight: 500;
    padding: 2.4px 4.8px; // 0.15rem 0.3rem
    background-color: var(--sb-on-bg-4);
  }

  menu,
  ol,
  ul {
    list-style: none;
  }

  :where(ol) {
    padding-inline-start: 16.8px;
    list-style-type: decimal;
    margin: 20px 0; // 1.25em 0
  }

  :where(ul) {
    padding-inline-start: 16.8px;
    list-style-type: disc;
    margin: 20px 0; // 1.25em 0
  }

  &.widget-markdown:where(h3 + *) {
    margin-top: 0;
  }

  :where(ol, ul) > li > :first-child {
    margin: 0;
  }

  :where(ol, ul) > li > :last-child {
    margin-bottom: 0;
  }

  p + :where(ol, ul) {
    margin-top: 0;
  }

  :where(ul ul, ul ol, ol ul, ol ol) {
    margin: 10.5px 0; // 0.75em 0
  }

  :where(li) {
    padding-inline-start: 0;
    margin: 5.6px 0; // 0.4em 0
  }

  blockquote {
    line-height: 19.2px; // 1.2rem
    margin: 0;
    padding: 4.8px 0; // 0.3rem 0
    margin-inline-start: 8px;
    padding-inline-start: 16px;
    box-sizing: border-box;
    position: relative;

    &::before {
      border-radius: 100px;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      background-color: var(--sb-on-bg-4);
    }
  }

  :where(blockquote) {
    font-style: normal;
    font-weight: 500;
    margin: 16.8px 0; // 1.2em 0
    quotes: '“' '”' '‘' '’';
    border-inline-start-width: 4px;
    padding-inline-start: 14px;
  }

  [type='checkbox'] {
    vertical-align: middle;
    margin: 0;
  }

  table {
    unicode-bidi: isolate;
    overflow-wrap: break-word;
    white-space: normal;
    display: block;
    overflow-x: scroll;
    max-width: 100%;
    text-indent: 0;
    border-collapse: separate;
    border-spacing: 0;
    margin: 4px 0; // 0.25rem 0

    *,
    &:after,
    &:before {
      border: 0 solid;
      box-sizing: border-box;
    }
  }

  :where(table) {
    text-align: start;
    font-size: 12.3px; // 0.875em
    margin: 28px 0; // 2em 0
    table-layout: auto;
    width: 100%;
  }

  th:first-child {
    border-start-start-radius: 6px; // 0.375rem
    padding-inline-start: 10.5px; // 0.75rem
  }

  th:last-child {
    border-inline-end-width: 1px;
    border-start-end-radius: 6px; // 0.375rem
    padding-inline-end: 10.5px; // 0.75rem
  }

  th {
    border-inline-start-width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom-width: 1px;
    border-color: var(--sb-on-bg-4);
    border-top-width: 1px;
    padding: 4px 10.5px;
  }

  :where(thead th:first-child) {
    padding-inline-start: 0;
  }

  :where(thead th:last-child) {
    padding-inline-end: 0;
  }

  :where(thead th) {
    padding-bottom: 8px;
    padding-inline: 8px;
    vertical-align: bottom;
  }

  :where(tbody tr) {
    border-bottom-width: 1px;
  }

  :where(tbody tr:last-child) {
    border-bottom-width: 0;
  }

  td:first-child {
    padding-inline-start: 10.5px;
  }

  td:last-child {
    border-inline-end-width: 1px;
    padding-inline-end: 10.5px;
  }

  :where(tbody td:first-child, tfoot td:first-child) {
    padding-inline-start: 0;
  }

  :where(tbody td:last-child, tfoot td:last-child) {
    padding-inline-end: 0;
  }

  td {
    border-inline-start-width: 1px;
    border-bottom-width: 1px;
    border-color: var(--sb-on-bg-4);
    padding: 4px 10.5px;
    text-align: start;
  }

  :where(tbody td, tfoot td) {
    padding: 8px;
  }

  :where(tbody td) {
    vertical-align: baseline;
  }

  tbody tr:last-child td:first-child {
    border-end-start-radius: 6px;
  }

  tbody tr:last-child td:last-child {
    border-end-end-radius: 6px;
  }
}
