.markdown p {
  font-size: 14px;
  line-height: 1.43;
  margin: 0;
}

.markdown h1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
}

.markdown h2 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.markdown h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.markdown {
  margin: 0;
  padding: 0;
}

.markdown code {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.markdown table {
  display: block;
  overflow-x: scroll;
  max-width: 100%;
  border: 1px solid;
}

.markdown tr, th, td {
  border: 1px solid;
}
