.sendbird-message-content-menu__reaction-menu {
  display: none;
}

.sendbird-theme--light {
  margin: 0 !important;
}

.sendbird-conversation__footer {
  padding-bottom: 0 !important;
  margin: 0 !important;
}

#root {
  height: 100%;
  border: none !important;
}

.sendbird-conversation {
  border: none !important;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #b771fd; /* Light grey */
  border-top: 10px solid white; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.sendbird-modal__content {
  width: calc(100% - 20px);
}

.sendbird-fileviewer__header__left {
}

.sendbird-fileviewer {
  outline: none;
}

textarea:focus,
input:focus {
  &:active {
    outline: none;
  }
}

.sendbird-ai-widget-file-message-root {
  width: 100%;
}

.sendbird-ai-widget-file-message {
  border-radius: 16px;
  width: 100%;
  cursor: pointer;
}

.sendbird-word__url {
  font-weight: 700;
  color: inherit;
  text-decoration: underline;
}

.sendbird-message-content__middle__body-container__feedback-buttons-container {
  margin-top: 4px;
  position: relative;
  display: flex;
  gap: 4px;
}

.sendbird-modal-root {
  position: absolute;
  z-index: 2147483647;
}

.sendbird-modal__content {
  max-width: calc(100% - 80px);
}

.sendbird-suggested-replies {
  margin: 0 !important;
  padding: 8px 0 16px;
}

.sendbird-form-chip__container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 4px;
  flex-wrap: wrap;
}

.sendbird-form-chip {
  padding: 0px 12px;
}

.sendbird-loader {
  margin-bottom: 2px;
  &.no-animation {
    animation: unset;
  }
}
