:root {
  --sendbird-light-primary-300: #30308f;
  --sendbird-light-background-50-0: #e7f1ff;
  --sendbird-light-background-50: #ffffff;
  --sendbird-font-family-custom: "SF Pro Text", "SF Pro Icons", "SF Pro Display",
    "SF Pro Rounded";
}

.sendbird-message-content-menu__reaction-menu {
  display: none;
}

.sendbird-conversation__footer {
  padding-bottom: 0 !important;
}

.sendbird-theme--light {
  margin: 0 !important;
}

.sendbird-conversation__footer {
  margin: 0 !important;
}

#root {
  height: 100%;
  border: none !important;
}

.sendbird-conversation {
  border: none !important;
}

.sendbird-theme--light .sendbird-conversation {
  background-color: #F7F7F7;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #b771fd; /* Light grey */
  border-top: 10px solid white; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.sendbird-conversation__messages-padding {
  padding: 0 16px !important;
}

.sendbird-message-input .sendbird-message-input-text-field {
  overflow-y: hidden;
}

.sendbird-theme--light .sendbird-icon-color--primary [class*="fill"] {
  fill: var(--sendbird-light-primary-300);
}

.sendbird-theme--light .sendbird-button--primary {
  border: 1px solid var(--sendbird-light-primary-300);
  background-color: var(--sendbird-light-primary-300);
}

.sendbird-theme--light .sendbird-button--primary:hover {
  border: 1px solid var(--sendbird-light-primary-300);
  background-color: var(--sendbird-light-primary-300);
}

.sendbird-theme--light .sendbird-button--primary:active {
  border: 1px solid var(--sendbird-light-primary-300);
  background-color: var(--sendbird-light-primary-300);
}

.sendbird-notification--hide .sendbird-conversation__messages__notification {
  fill: var(--sendbird-light-primary-300);
}

.sendbird-conversation__scroll-bottom-button {
  bottom: 16px;
}
